body {
    text-align: center;
    font-size: 30px;
}
.header {
    background-image: url(../img/pingpong.gif);
    width: 1400px;
    height: 400px;
}
.empty {
    background-color: aqua;
    height: 500px;
}
.letsplay {
    background-color: lightgray;
    height: 500px;
}
